*{
    margin: 0;
    padding: 0;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

/* ↓↓ Navbar ↓↓ */
/* Selve navigationsbaren */
nav {
    display: flex; 
    justify-content: center;
    align-items: center;
    background-color: #9f9fa1;
    font-family: charter;
    height: 8vh;
    width: 100vw;
    position: fixed;
    top: 0;
    z-index: 100;
}

/* Logo i navigationsbaren */
nav img {
    height: 6.5vh;
    width: auto;
    display: flex;
    align-items: center;
    margin-left: 1vw;
}

/* boksen links ligger i, i navigationsbaren */
.nav-links {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    list-style: none;
}

/* Links */
.nav-links a {
    padding: 0rem 2vw;
    text-decoration: none; 
    color: #000000;
    font-size: 1.2vw;
    display: inline-block; 
    transition: transform 0.3s ease; 
}

.nav-links a:hover {
    transform: scale(1.5);
}


/* ↓↓ dropdown meny ↓↓*/
.dropdown {
    position: relative;
    display: inline-block;
    z-index: 9;
}

/* boksen links ligger i, i dropdownbaren */
.dropdown-content {
    display: none;
    position: absolute;
    min-width: 14vw;
    background-color: #2a3478;
    font-size: 2.2vh;
}

/* Links i dropdownbaren */
.dropdown-content a {
    margin: 2.2vh 0; 
    color: #fcba16;
    display: flex;
    justify-content: flex-start;
    font-size: 2.4vh;
}

/* Gør dropdownmenuen synlig når man holder musen over et hovedmenupunkt */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Gør at billede ikke bliver vist på skærme over 768px*/
#burger-menu-image {
    display: none;
}



/* ↓↓ Main på index filen ↓↓ */
.main-index{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 92vh;
    width: 100%;
    padding-top: 8vh;
}

.main-index section{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}


.main-index aside{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.main-index aside h2{
    font-size: 2.7vw;
    text-align: center;
    color: #000000;
    font-family: charter;
}

.main-index aside h3{
    font-size: 4vh;
    text-align: center;
    color: #000000;
    font-family: charter;
    margin: 3vh 0 0 0;
    border: #ff9900 solid 3px;
}

.forside-billede {
    height: auto;
    width: 30vw;
}

.slider {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: #ff9900;
}

.card-list .card-item {
    list-style: none;
}

.card-list .card-item .card-link {
    width: 400px;
    display: block;
    background: #fff;
    padding: 18px;
    border-radius: 12px;
    text-decoration: none;
}


.card-list .card-link .card-image {
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
    border-radius: 10px;
}


/* ↓↓ Footer ↓↓ */
.footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #9f9fa1;
    height: 35vh;
    width: 100vw;
}

.card-list .card-link .badge {
    color: aquamarine;
    padding: 8px 16px;
    font-size: 0.95rem;
    font-weight: 500;
    margin: 16px 0 18px;
    background: #2a3478;
    width: fit-content;
    border-radius: 50px;
}

.card-list .card-link .card-title {
    font-size: 1.19rem;
    color: #000000;
    font-weight: 600;
}

.card-list .card-link .card-button {
    height: 35px;
    width: 35px;
    color: rgb(255, 0, 98);
    border-radius: 50%;
    margin: 30px 0 5px;
    background: none;
    cursor: pointer;
    border: 2px solid rgb(255, 0, 98);
    transform: rotate(-45deg);
}



.footer div{
   margin: 2vh;
}

.footer-links{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    list-style: none;
}

.footer-links h1{
    font-size: 2.7vh;
    color: #000000;
    font-family: charter;
}

.footer-links h2{
    font-size: 2.7vh;
    color: #000000;
    font-family: charter;
    margin-top: 2vh;
}

.footer-links a {
    text-decoration: none;
    color: #000000;
    font-size: 1.6vw;
    font-family: charter;
}

.footer-links p {
    text-decoration: none;
    color: #000000;
    font-size: 1.6vw;
    font-family: charter;
}

.footer-social {
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.footer-social a img {
    height: 4vh;
    width: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 3vh;
    margin: 0 3vh 0 3vh;
}

.footer-social a img:hover {
    transform: scale(1.5);
}

.footer-logo img{
    height: 25vh;
    width: auto;
    display: flex;
    align-items: center;
}

