*{
    margin: 0;
    padding: 0;
}

body {
    font-family: baskervile;
}

/* ↓↓ Navbar ↓↓ */
/* Selve navigationsbaren */
nav {
    display: flex; 
    justify-content: center;
    align-items: center;
    background-color: #9f9fa1;
    font-family: charter;
    height: 8vh;
    width: 100vw;
    position: fixed;
    top: 0;
    z-index: 100;
}

/* Logo i navigationsbaren */
nav img {
    height: 6.5vh;
    width: auto;
    display: flex;
    align-items: center;
    margin-left: 1vw;
}

/* boksen links ligger i, i navigationsbaren */
.nav-links {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    list-style: none;
}

/* Links */
.nav-links a {
    padding: 0rem 2vw;
    text-decoration: none; 
    color: #000000;
    font-size: 1.2vw;
    display: inline-block; 
    transition: transform 0.3s ease; 
}

.nav-links a:hover {
    transform: scale(1.5);
}


/* ↓↓ Main på index filen ↓↓ */
.main-index{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-top: 8vh;
}

 #top-billede{
    margin-top: 5vh;
    height: auto;
    width: 20vw;
}










/* teaser */
.teaser {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    margin-top: 10vh;
}

.teaser ul {
    display: flex;
}

.teaser-firkant {
    list-style: none;
}

.teaser-link {
    width: 300px;
    display: block;
    background: #ffffff;
    padding: 18px;
    border-radius: 12px;
    text-decoration: none;
    border: 2px solid #ff9900;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.05);
    transition: 0.2 ease;
    margin: 10px;
}
.teaser-link:hover {
    border-color: black;
}

.teaser-billede {
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
    border-radius: 10px;
}

.navn {
    color: rgb(0, 0, 0);
    padding: 8px 16px;
    font-size: 1rem;
    font-weight: 500;
    margin: 16px 0 18px;
    background: #ffffff;
    width: fit-content;
    border-radius: 50px;
    border: 2px solid #ff9900;
}
.teaser-link h2{
    font-size: 1rem;
    color: #a60404;
}


.teaser-button {
    height: 35px;
    width: 35px;
    color: rgb(0, 0, 0);
    border-radius: 50%;
    margin: 30px 0 5px;
    background: none;
    cursor: pointer;
    border: 2px solid #ff9900;
    transform: rotate(-45deg);
    transition: 0.4s ease;
}

.teaser-firkant .teaser-link:hover .teaser-button {
    color: #fff;
    background: #ff9900;
}










/* ↓↓ Footer ↓↓ */
.footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #9f9fa1;
    height: 35vh;
    width: 100vw;
}

.footer div{
   margin: 2vh;
}

.footer-links{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    list-style: none;
}

.footer-links h1{
    font-size: 2.7vh;
    color: #000000;
    font-family: charter;
}

.footer-links h2{
    font-size: 2.7vh;
    color: #000000;
    font-family: charter;
    margin-top: 2vh;
}

.footer-links a {
    text-decoration: none;
    color: #000000;
    font-size: 1.6vw;
    font-family: charter;
}

.footer-links p {
    text-decoration: none;
    color: #000000;
    font-size: 1.6vw;
    font-family: charter;
}

.footer-social {
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.footer-social a img {
    height: 4vh;
    width: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 3vh;
    margin: 0 3vh 0 3vh;
}

.footer-social a img:hover {
    transform: scale(1.5);
}

.footer-logo img{
    height: 25vh;
    width: auto;
    display: flex;
    align-items: center;
}

