*{
    margin: 0;
    padding: 0;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

main{
    background-color: #1c1c1c;
    height: auto;
    margin-top: 10vh;
}


#loading-screen {
    width: 100vw;
    height: 100vh;
    background-color: #1c1c1c;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    display: none;
}

#loading-screen img {
    width: 30vh;
}

/* ↓↓ Navbar ↓↓ */
/* Selve navigationsbaren */
nav {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #D2C9BE;
    height: 10vh;
    width: 100vw;
    position: fixed;
    top: 0;
    z-index: 100;
}

/* Logo i navigationsbaren */
nav img {
    height: 7.9vh;
    width: auto;
    display: flex;
    align-items: center;
    margin-left: 1vw;
}

/* boksen links ligger i, i navigationsbaren */
.nav-links {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    list-style: none;
}

/* Links */
.nav-links a {
    padding: 0rem 2vw;
    text-decoration: none; 
    color: #000000;
    font-size: 1.5vw;
    display: inline-block; 
    transition: transform 0.3s ease; 
}

.nav-links a:hover {
    transform: scale(1.5);
}

#burger-menu-image {
    display: none;
}

/* ↓↓ Main på index filen ↓↓ */
.main-index{
    height: 92vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: -2vh;
    background-color: #1c1c1c;

}

 #top-billede{
    margin-top: 5vh;
    height: auto;
    width: 20vw;
}


/* ↓↓ Teaser ↓↓ */
.teaser {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    margin-top: 10vh;

}

.teaser ul {
    display: flex;
    
}

.teaser-firkant {
    list-style: none;
}

.teaser-link {
    width: 300px;
    display: block;
    background: #1c1c1c;
    padding: 18px;
    border-radius: 12px;
    text-decoration: none;
    margin: 10px;
    border: #D2C9BE 2px solid;
}

.teaser-billede {
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
    border-radius: 10px;
}

.navn {
    color: rgb(255, 255, 255);
    padding: 8px 16px;
    font-size: 1rem;
    font-weight: 500;
    margin: 16px 0 18px;
    background: #1c1c1c;
    width: fit-content;
    border-radius: 50px;
    border: 2px solid #D2C9BE;
}
.teaser-link h2{
    font-size: 1rem;
    color: #ffffff;
}

.teaser-link div {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.teaser-button {
    height: 35px;
    width: 35px;
    color: #D2C9BE;
    border-radius: 50%;
    margin: 30px 0 5px;
    background: none;
    border: 2px solid #D2C9BE;
    transform: rotate(-45deg);
    transition: 0.5s ease;
}

.teaser-firkant .teaser-link:hover .teaser-button {
    color: #fff;
    background: #D2C9BE;
}

/* ↓↓ Menu html filen ↓↓ */
.menu {
margin-top: 3vh;
color: #D2C9BE;
}

.main-menu{
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 10vh;
    background-color: #1c1c1c;
}

.scroll {
    height: 35px;
    width: 35px;
    color: #D2C9BE;
    border-radius: 50%;
    margin: 30px 0 5px;
    background: none;
    border: 2px solid #D2C9BE;
    transform: rotate(-90deg);
    transition: 0.5s ease;
}

.scroll:hover {
    color: #1c1c1c;
    background: #D2C9BE;
}

.main-menu p {
    color: #D2C9BE;
    font-size: 4vw;
    font-family: charter;
    margin-top: 2vh;
    margin-bottom: 10vh;
}


/* ↓↓ Om os html filen ↓↓ */

.main-om-os {
    height: auto;
}

.main-om-os img {
width: 100%;
}

.main-om-os h1 {
    color: #D2C9BE;
    font-size: 2.5vw;
    margin-top: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-om-os p {
    color: #D2C9BE;
    font-size: 1.5vw;
    margin-top: 5vh;
    padding: 0 5vw 0 5vw;
}


/* ↓↓ Take away html filen ↓↓ */
.main-take-away {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 92vh;

}

.main-take-away h1 {
    color: #D2C9BE;
    font-size: 15vw;
}
.main-take-away h2 {
    color: #D2C9BE;
    font-size: 2vw;
}

.main-take-away img {
    width: 20%;
}

.main-take-away a {
    margin-top: 3vh;
    background: #D2C9BE;
    border: 2px solid #D2C9BE;
    color: rgb(0, 0, 0);
    padding: 8px 16px;
    font-size: 1rem;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }


/* ↓↓ Footer ↓↓ */
.footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #1c1c1c;
    height: 35vh;
    width: 100vw;
}

.footer div{
   margin: 2vh;
}

.footer-links{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    list-style: none;
}

.footer-links h1{
    font-size: 2.3vh;
    color: #D2C9BE;
    margin-top: 2vh;
}

.footer-links a {
    text-decoration: none;
    color: #D2C9BE;
    font-size: 1.3vw;
}

.footer-links p {
    text-decoration: none;
    color: #D2C9BE;
    font-size: 1.3vw;
}

.footer-social {
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.footer-social a img {
    height: 4vh;
    width: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 3vh;
    margin: 0 3vh 0 3vh;
}

.footer-social a img:hover {
    transform: scale(1.5);
}

.footer-logo img{
    height: 25vh;
    width: auto;
    display: flex;
    align-items: center;
}

@media screen and (max-width: 1180px) {




    nav {
        display: flex; 
        justify-content: space-between;
        align-items: center;
        background-color: #D2C9BE;
        font-family: charter;
        height: 10vh;
        width: 100vw;
        position: fixed;
        top: 0;
        z-index: 100;
    }

    nav img {
        height: 7vh;
        width: auto;
        display: flex;
        align-items: center;
        margin-left: 2vw;
    }
    .nav-links {
        position: fixed;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        display: none;
        height: 100vh;
        width:100%;
        top: 0vh;
        background-color: #D2C9BE;
 
    }

    .nav-links a {
        height: 100%;
        padding: 0;
        text-decoration: none; 
        display: flex;
        align-items: center;
        align-content: center;
        justify-content: center;
        color: #1c1c1c;
        font-size: 1.1rem;
        margin: 5vh 0;
        font-family: charter;

    }


    .burger {
        display: block;
        cursor: pointer;
        margin: 2vh;
    }

    #burger-menu-image {
        display: block;
        height: 20vh;      
        margin-top: 15vh;
    }

    .burger div {
        width: 5vh;
        height: 0.6vh;
        background-color: #1c1c1c;
        margin: 1vh;
    }


    .burger.toggle div:nth-child(1) {
        transform: rotate(-45deg) translate(-1vh, 1.2vh); 
    }

    .burger.toggle div:nth-child(2) {
        opacity: 0;
    }

    .burger.toggle div:nth-child(3) {
        transform: rotate(45deg) translate(-1vh, -1.2vh); 
    }

    
.main-index{
    height: auto;
}


































#top-billede{
    margin-top: 5vh;
    height: auto;
    width: 40vw;
}

.teaser-link {
    width: auto;
}


.teaser ul{
    display: flex;
    flex-direction: column;
    }


    .main-om-os h1 {
        color: #D2C9BE;
        font-size: 5vw;
        margin-top: 5vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .main-om-os p {
        color: #D2C9BE;
        font-size: 3vw;
        margin-top: 5vh;
        padding: 0 5vw 0 5vw;
    }




    .main-take-away {
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
    
    }
    
    .main-take-away h1 {
        color: #D2C9BE;
        font-size: 30vw;
        margin-top: -10vh;
        margin-bottom: 5vh;
    }
    .main-take-away h2 {
        color: #D2C9BE;
        font-size: 5vw;
    }
    
    .main-take-away img {
        width: 30vh;
        margin-top: 3vh;
        margin-bottom: 5vh;
    }
    
    .main-take-away a {
        margin-top: 3vh;
        background: #D2C9BE;
        border: 2px solid #D2C9BE;
        color: rgb(0, 0, 0);
        padding: 8px 16px;
        font-size: 1rem;
        border-radius: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        }











    .footer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #1c1c1c;
        height: auto;
    }

    .footer-links{
        order: 1;
    }

    .midt-logo{
        order: 2;
        margin-bottom: 1vh;
    }
    
    
    .footer div{
       margin: 1vh;
    }
    
    .footer-links{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        list-style: none;
    }
    
    .footer-links h1{
        font-size: 3vh;
        color: #D2C9BE;
        margin-top: 2vh;
    }
    
    .footer-links a {
        text-decoration: none;
        color: #D2C9BE;
        font-size: 3vw;
    }
    
    .footer-links p {
        text-decoration: none;
        color: #D2C9BE;
        font-size: 3vw;
    }
    
    .footer-social {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    
    
    .footer-social a img {
        height: 5vh;
        width: auto;
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding-top: 3vh;
        margin: 0 3vh 0 3vh;
    }
    
    .footer-social a img:hover {
        transform: scale(1.5);
    }
    
    .footer-logo img{
        height: 15vh;
        width: auto;
        display: flex;
        align-items: center;
    }


    
}